.footer {
  padding-top: 67px;
  color: #545454;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5px;
  margin: 0;
  margin-left: 200px;
  margin-right: 762px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 19px;
    padding-top: 47px;
    font-size: 14px;
    line-height: 1.5px;
  }
}
