.footer {
  padding-top: 67px;
  width: 318px;
  height: 18px;
  color: #545454;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 200px; 
  margin-right: 762px;
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 19px;
    padding-top: 47px;
  }
}
