.footer {
  color: #545454;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer {
    margin-left: 100px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-left: 19px;
    margin-top: 47px;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: normal;
  }
}
