.header {
  margin-top: 45px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
}

@media screen and (max-width: 8000px) {
  .header {
    max-width: 730px;
  }
}

@media screen and (max-width: 879px) {
  .header {
    margin-top: 28px;
    margin-left: 0;
    /* min-height: 100px;   */
  }

  .header__image {
    margin-top: 28px;
    margin-left: 27px;
    width: 126px;
    margin-bottom: 32px;
  }
}
