.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding: 36px 36px 0;
  width: 430px;
  height: 330px;
  border-radius: 10px;
}

.modal__close {
  background-image: url(../Images/Close\ Icon.svg);
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: none;
  background-color: transparent;
  position: absolute;
  top: -45px;
  right: -45px;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  padding-bottom: 54px;
}

.modal__input {
  border: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: thin;
  padding-bottom: 13.34px;
  margin-bottom: 29.74px;
}

.modal__button {
    margin-top: 18.26px;
    background-color: #000;
    height: 51px;
    border-style: none;
    border-radius: 2px;
    color: #fff;
}