.profile {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding-top: 40px;
  padding: 37px 19px 50px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../Images/edit-icon.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #fff;
  margin: 15px 0 9px 18px;
}

.profile__add-button {
  background: transparent url(../Images/add\ icon\ 2.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  grid-area: title;
  line-height: 1.14;
  margin: 0;
}

.profile__subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  grid-area: description;
}

.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 919px) {
  .profile {
    flex-direction: column;
    gap: 25px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 19px;
    margin-right: 62px;
  }

  .profile__subtitle {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }

@media screen and (max-width: 320px) {
  .profile {
    gap: 30px;
    padding: 40px 0 37px;
  }

  .profile__title {
    color: #fff;
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    margin-left: 62px;
  }

  .profile__info {
    /* padding: 0 19px; */
  }

  .profile__subtitle {
    font-size: 14px;
    margin-left: 43px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 14px;
  }
}
